.main_column
    =image_tag retrieve_image_path(@option), :id=>:option
    =image_tag retrieve_image_path(@stock), :id=>:stock
.right_side
    =render 'shared/logo'
    #ticker_form=render "shared/ticker_form"
