= form_tag stock_show_path do
    .label="Stock"
    =text_field_tag :ticker,session[:ticker]
    .label="Span"
    =select_tag "duration", options_for_select(duration_select,[session[:duration]]) , {:multiple=>true}
    .label="Type"
    =select_tag "option_type", options_for_select(option_type,[session[:option_type]]) , {:multiple=>true}
    .label="Expiration"
    =select_tag "expiration", options_for_select(expiration_list,[session[:expiration]]) , {:multiple=>true}
    .label="Strike"
    =text_field_tag :strike, session[:strike]
    
    =submit_tag 'Submit'
    

