= form_for(:stock, :url=>{ :action =>"show", :controller =>"stocks"}) do |f|
    =f.text_field :ticker 
    =f.text_field :duration
    =f.select "colors", "<option>Red</option><option>Green</option><option>Blue</option>".html_safe, :multiple => true
    =f.submit 'Submit'
    

